/* container */

.container {
  padding: 1% 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.conter {
  display: flex;
}
/* count */
.btn {
  border: none;
  border-radius: 5%;
}
.count_txt {
  font-size: x-large;
}
